    <div class="sun-space">
    <div class="home-sun"></div>
    <div class="home-right-box"></div>
    <div class="nav-background"></div>
   <div class="home-container">
        <div class="home-item1 parallax" data-depth="0.3">
              <h1 class="title1">{{ section.settings.title }} </h1>
                <p class=" title2-text">
                 {{ section.settings.subtext_title }} </p>
                   
              
                 <p class="title3-price">{{ section.settings.product_price  }}</p>
                  <div class="reserve-item">
                       <button class="reserve-btn">{{ section.settings.upper_sec_btn }}</button>
                   </div>
          </div>
          <div class="home-img1-item parallax" data-depth="0.1">
            <img src={{ "zan-design-img.png" | asset_url }}  class="home-img1"/>
            <img src={{"heng_shadow.svg" | asset_url}} class="home-img2"/>
          </div>
      </div>
      <div class="life-time-wrapper">
          <p class="power-text1">{{ section.settings.lower_sec_subheading }}</p>
          <h2 class="power-text2">{{ section.settings.lower_sec_heading }}</h2>
          <p  class="power-text3">{{ section.settings.lower_sec_text }}</p>
          <p  class="power-text4">{{ section.settings.lower_sec_small_text }}</p>
          <div>
          <button class="reserve-btn1"> {{ section.settings.lower_sec_btn }} </button>
          </div>
       </div>
       </div>
  </div>
         
 
 {% schema %}
  {
    "name":"hero-section",
    
      "settings": [
      {
        "type":"text",
        "id":"title",
        "default":"Lybra Balance",
        "label": "Upper section heading"
      },
      {
        "type":"text",
        "id":"subtext_title",
        "default": "This beautiful USB powered lamp designed    with a unique magnetic sphere switch. Use it as a calming night light for kids or adults!",
        "label": "upper section subheading"
      },
      {
        "type":"text",
        "id":"product_price",
        "default": "29.900€",
        "label": "product price"
      },
      {
        "type":"text",
        "id":"upper_sec_btn",
        "default": "Reserve Now",
        "label": "upper section button"
      },
      {
        "type": "text",
        "id":"lower_sec_subheading",
        "default":"20000 Hour for its Lifetime",
        "label": "lower section subheading"
      },
      {
        "type": "text",
        "id":"lower_sec_heading",
        "default":"Powered by the Sun",
        "label": "lower section heading"
      },
      {
        "type": "text",
        "id":"lower_sec_text",
        "default":"The Heng Balance Lamp is the traditional lamp next door with an unconventional twist that makes it the lamp like no other, ergo it will light up your room like none of the other lamps can.",
        "label": "lower section text"
      },
      {
        "type": "text",
        "id":"lower_sec_small_text",
        "default":"Works on the principle of magnetic equilibrium",
        "label": "lower section small text"
      },
      {
        "type":"text",
        "id":"lower_sec_btn",
        "default": "Reserve Now",
        "label": "lower section button"
      }
    ]   
  }
 {% endschema %}